@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background-dark text-gray-300;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

@keyframes scroll-forward {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

@keyframes scroll-backward {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}
